/*
 *  MEMO : 공통 스타일 파일입니다.
 * 작성자 : 민지
 * 작성일 : 2023
*/

/* css 초기화 */
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
*:focus{outline:none}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none; -webkit-tap-highlight-color:transparent;}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer;outline:none;}
table {border-collapse:collapse;border-spacing:0;width: 100%;text-align: left; font-weight: normal; }
body {-webkit-text-size-adjust:none;} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
html{-webkit-touch-callout:none; -webkit-user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-text-size-adjust:antialiased;-moz-osx-font-sommthing:grayscale;}
a{outline: 0;color:inherit;text-decoration:none; border:none; -webkit-tap-highlight-color:transtxt_overflowparent;}
a.inherit{color:inherit;}
a:active, a:hover {text-decoration:none}
a[href^=tel] {text-decoration:inherit;color: inherit;}
input:focus,select:focus,textarea:focus{outline: none;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-internal-autofill-selected {background: #121212 !important;}


/* 퀵 클래스 */
.hide{display: none;}
.trigger{cursor: pointer;}
.row{overflow: hidden;}
.clearfix:before, .clearfix:after {display: block; content: ''; line-height: 0;}
.clearfix:after {clear:both;}
.middle{vertical-align: middle;}
.inline_block{display: inline-block;}
.block{display:block;}
.relative{position: relative;}
.hide_text{text-indent: 100%; white-space: nowrap; overflow: hidden;}
.txt_overflow{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.label{margin: 30px 0 8px;color:#A0A0A0;}
.first_label{margin:0px 0 8px;color:#262626;}

/* layout */
.wrap{position: relative;}
.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}  
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important}
.mt40{margin-top: 40px !important}
.mt50{margin-top: 50px !important}
.mt55{margin-top: 55px !important}
.mt60{margin-top: 60px !important}
.mlr_10{margin:0 10px}  
.mr5{margin-right: 5px !important}
.mr10{margin-right: 10px !important}
.mr20{margin-right: 20px !important}
.ml5{margin-left: 5px !important}
.ml10{margin-left: 10px !important}
.ml20{margin-left: 20px !important}
.mb10{margin-bottom: 10px;}
.mb16{margin-bottom: 16px;}
.mb20{margin-bottom: 20px !important;}
.mb30{margin-bottom: 30px !important;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px !important;}
.mb100{margin-bottom: 100px !important;}
.pdt20{padding-top: 20px !important;}
.pdt40{padding-top: 40px !important;}
.pdt50{padding-top: 50px !important;}
.pdt55{padding-top: 55px !important;}
.pdb20{padding-bottom: 20px !important;}
.pdb30{padding-bottom: 30px !important;}
.pdb50{padding-bottom: 50px !important;}
.pdb55{padding-bottom: 55px !important;}
.pdb80{padding-bottom: 80px !important;}
.pdb120{padding-bottom: 120px !important;}
.pdl20{padding-left: 20px !important;}

/* font */
.fs_12{font-size: 12px;}
.fs_14{font-size: 14px;}
.fs_15{font-size: 15px;}
.fs_16{font-size: 16px;}
.fs_18{font-size: 18px;}
.fs_20{font-size: 20px;}
.font_gray_f{color: #F5F5F5;}
.font_gray_A0{color: #A0A0A0;}
.font_gray_63{color: #636363;}

/* 정렬 */
.middle{vertical-align: middle;}
.f_left{float: left;}
.f_right{float: right;}
.txt_right{text-align: right;}
.txt_center{text-align: center;}
.txt_left{text-align: left;}
.clearboth{clear:both;}
.clearfix{display: inline-block;}
.clearfix:after{content: "";display: table;clear: both;}

/* width */
.w_100p{width:100%;}
.w_50p{width:50%;}
.w_16{width:16px;}
.w_24{width:24px;}

/* modal 공통 레이아웃 */
.modal{background: #fff; overflow: auto; position: fixed; width:100%; height:100%; z-index: 1000; top:50%; left: 50%; transform: translate(-50%, -50%); display: none; }
.modal_body{padding-top: 50px; height: calc(100vh - 50px);  overflow: hidden;}
.modal .md_container{position: relative; margin: 50px auto 0; padding:20px; box-sizing: border-box;}
.md_overlay{position: fixed; width: 100%; height: 100%; top:0; left:0; background: rgba(0,0,0,.5); opacity: 0; visibility: hidden; z-index: 200}

/* scroll */
::-webkit-scrollbar {width:4px; height:0px; background: #121212; border-radius:30px; padding:5px;}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height:0px;}
::-webkit-scrollbar-track {background:#121212; -webkit-border-radius:30px; border-radius:30px; }
::-webkit-scrollbar-thumb {height:20px; width:6px; background:#121212; -webkit-border-radius:30px; border-radius:30px; }
::-webkit-scrollbar-thumb:hover{background:#121212;}
::-webkit-scrollbar-thumb:active{background:#fff;}
::-webkit-scrollbar-thumb:horizontal{background:#121212;}
 

.terms {padding: 30px 20px;overflow: hidden; line-height:1.6;}
.terms span{color:inherit;font-size: inherit}
.terms a{color:inherit;font-size: inherit}
.terms h1{color:inherit;font-family: inherit; font-weight: inherit;}
.terms h2, .terms h3, .terms h4, .terms h5, .terms h6{color:inherit;font-family: inherit; font-weight: inherit;}
.terms body, .terms div, .terms dl, .terms dt, .terms dd, .terms ul, .terms ol, .terms li, .terms h1, .terms h2, .terms h3, .terms h4, .terms h5, .terms h6, .terms pre, .terms code,
.terms form, .terms fieldset, .terms legend, .terms textarea, .terms p, .terms blockquote, .terms th, .terms td, .terms input, .terms select, .terms textarea, .terms button{padding:revert;}
.terms dl, .terms ul, .terms ol, .terms menu, .terms li{list-style: revert;}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{border:1px solid #ddd; vertical-align: middle;}
.terms .table > thead > tr > th, .terms .table > tbody > tr > th,
.terms .table > tfoot > tr > th, .terms .table > thead > tr > td, .terms .table > tbody > tr > td, .terms .table > tfoot > tr > td{padding: 8px 12px;line-height: 1.5;}
.terms iframe, .terms img{max-width: 100%}

/* edit */
#edit{box-sizing: border-box;}
#edit blockquote{padding:5px 20px !important; margin: 0 0 20px 0; border-left: 5px solid #eee; font-size: 17px;}
#edit pre{display: block; padding: 9.5px!important; margin: 0 0 10px; font-size: 13px; line-height: 1.42857143; color: #333; word-break: break-all; word-wrap: break-word; background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 4px;}
#edit span{color:inherit;font-size: inherit}
#edit a, #edit b{color:inherit; font-size: inherit;}
#edit h1{color:inherit;font-family: inherit; font-weight: inherit;}
#edit h2, #edit h3, #edit h4, #edit h5, #edit h6{color:inherit;font-family: inherit; font-weight: inherit;}
#edit body, #edit div, #edit dl, #edit dt, #edit dd, #edit ul, #edit ol, #edit li, #edit h1, #edit h2, #edit h3, #edit h4, #edit h5, #edit h6, #edit pre, #edit code,
#edit form, #edit fieldset, #edit legend, #edit textarea, #edit p, #edit blockquote, #edit th, #edit td, #edit input, #edit select, #edit textarea, #edit button{padding:revert;}
#edit dl, #edit ul, #edit ol, #edit menu, #edit li{list-style: revert;}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{border:1px solid #ddd; vertical-align: middle;}
#edit .table > thead > tr > th, #edit .table > tbody > tr > th,
#edit .table > tfoot > tr > th, #edit .table > thead > tr > td, #edit .table > tbody > tr > td, #edit .table > tfoot > tr > td{padding: 8px 12px;line-height: 1.5;}
#edit iframe, #edit img{max-width: 100% !important; border-radius: 5px; margin: 10px 0;}
#edit iframe{width: 100% !important; height:100%; position: absolute; top: 0; left: 0;}
#edit .iframe_wrap{position: relative; width:100%; padding-bottom: 56.25%; /* 16:9 */ height: 0;}