/*
 *  MEMO : 프로젝트 내부 공통 스타일 파일입니다.
 * 작성자 : 민지
 * 작성일 : 2023
*/
@charset "utf-8";
/* font index */
@font-face {
  font-family: 'font-b';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/NanumSquareB.woff) format('woff'), url(/fonts/NanumSquareB.woff) format('woff'), url(/fonts/NanumSquareB.ttf) format('truetype');
}
@font-face {
  font-family: 'font-eb';
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/NanumSquareEB.woff) format('woff'), url(/fonts/NanumSquareEB.woff) format('woff'), url(/fonts/NanumSquareEB.ttf) format('truetype');
}
@font-face {
  font-family: 'font-l';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/NanumSquareL.woff) format('woff'), url(/fonts/NanumSquareL.woff) format('woff'), url(/fonts/NanumSquareL.ttf) format('truetype');
}

@font-face {
  font-family: 'font-r';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NanumSquareR.woff) format('woff'), url(/fonts/NanumSquareR.otf) format('otf'),
    url(/fonts/NanumSquareR.ttf) format('truetype');
}
body{background:#121212;}
.body.type_2{background:#232527;}

body,th,td,input,select,textarea,button, div, span, label {font-family:"font-r", sans-serif; font-size:14px; color:#F5F5F5; line-height: 1.4;}
input[type=password] {font-family:'Malgun gothic', dotum, sans-serif;}

/* 대표 컬러 설정 */
.point_color{color:#20BFA9 !important;}
.txt_red{color:#E54524 !important;}
.sub_color{color:#F68582}
.main_bg{background: #121212;}

/* 폰트 */
.b{font-weight:bold;} 
.date{font-size: 12px; color:#A0A0A0;}
h1{font-weight: normal;font-size: 30px;font-family:'font-b';color:#F5F5F5;}
h2{font-weight: normal;font-size: 24px;font-family:'font-b';color:#F5F5F5;}
h3{font-weight: normal;font-size: 20px;font-family:'font-b';color:#F5F5F5}
h4{font-weight: normal;font-size: 18px;font-family:'font-b';color:#F5F5F5}
h5{font-weight: normal;font-size: 16px;font-family:'font-b';color:#F5F5F5}
h6{font-weight: normal;font-size: 14px;font-family:'font-b';color:#F5F5F5}
/* 라인 */
hr{width: 100%; height: 0; border: 0; border-bottom: 1px solid #444;margin: 0;}
hr.space{width: 100%; height: 0; border: 0; border-bottom:5px solid #232527;margin: 0;}

h4 .w_20{padding-bottom: 3px;}

/* button custom : s */
.ease{transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;}

/* only colors */
a.btn_disabled {background:#444; color: #A0A0A0; cursor: none;}
a.btn_point{background: #20BFA9; color: #121212;}
a.btn_point_ghost{border:1px solid #20BFA9; color: #20BFA9; box-sizing: border-box;}
a.btn_gray_ghost{border:1px solid #444; color: #E2E2E2; box-sizing: border-box;}
a.btn_dark_gray {background:#232527; color: #fff;}

/* only shape */
.btn_half_wrap{display: flex;}
.btn_half_left{flex:1; margin-right:5px;}
.btn_half_right{flex:1}
.btn_full_basic {border-radius:5px; display:block; text-align:center; height:50px; line-height:50px; font-size:16px; font-family:'font-b';}
.btn_full_thin {border-radius:5px; display:block; text-align:center; height:40px; line-height:40px; font-size:14px; font-family:'font-b';}
.btn_md {border-radius:5px; display:block; text-align:center; height:40px; line-height:40px; font-size:16px; font-family:'font-b';}
a.btn_sm {border-radius:3px; display:inline-block; text-align:center; padding:8px 12px; font-size:12px; font-family:'font-b'; }

/* button custom : e */
.btn_floating{position:fixed; width:100%; height:50px; z-index: 99; bottom:0px; left:0; box-sizing: border-box; text-align: center; line-height: 50px; font-size: 16px; font-family:'font-b';}
.btn_floating a{display: block; height: 50px; text-align: center; line-height: 50px;}
.btn_floating.float_half{background:#121212;}
.btn_floating.float_half a{width: 50%; height: 50px; display: block;  float: left;}
.top_floating{position:fixed; width:50px; z-index:10; bottom: 20px; right: 20px; }
.top_floating.top{display: none;}
.top_floating.type_1{bottom:60px !important;}

/* 폼 관련 */
.disabled input{background: #F6F6F6 !important; border: 1px solid #CDCDCD !important;}
.disabled select{background:#F6F6F6 url('/images/select_arrow.png') no-repeat calc(100% - 6px) 50%; background-size: 24px; border: 1px solid #CDCDCD !important;}

textarea{border:none; border-bottom:1px solid #444; height:100px; width: 100%; resize:none; box-sizing: border-box; -webkit-appearance: none; background:transparent;}
textarea.ghost{border:none !important; height:calc(100vh - 250px) !important;}
::-webkit-input-placeholder {color:#636363;}/* WebKit, Blink, Edge */
:-moz-placeholder {color:#636363; opacity:1;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {color:#636363; opacity:  1;}/* Mozilla Firefox 19+ */
:-ms-input-placeholder {color:#636363;}/* Internet Explorer 10-11 */
input::placeholder {color:#636363;}/* Internet Explorer 10-11 */
textarea::placeholder {color:#636363;}/* Internet Explorer 10-11 */
select{border:none; border-bottom: 1px solid #444; vertical-align:middle; width:100%; height:50px; box-sizing: border-box; padding: 0 32px 0 0px; background:transparent url('../images/select_arrow.png') no-repeat calc(100% - 5px) 50%; background-size:24px; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
select option{background:#121212;}
select::-ms-expand {display: none; /* remove default arrow in IE 10 and 11 */}
select:focus > option:checked {background: #121212 !important;}
select[multiple]:focus option:checked {background: red linear-gradient(0deg, red 0%, red 100%);}

input[type="text"]:disabled { border-bottom: 1px solid #444; color:#A0A0A0;}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0; }
input{ border: none; border-bottom: 1px solid #444; width: 100%; height:50px; box-sizing: border-box; background: none;}
input[type='text'],input[type='tel'],input[type='password'],input[type='number'],input[type='submit'],input[type='search'] {-webkit-appearance:none; height:50px; box-sizing: border-box; }
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox} button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
input.input_calendar{background: url('../images/ic_input_calendar.png') no-repeat calc(100% - 10px) 50%; background-size:20px auto;}

input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {display:inline-block; color:#E2E2E2; font-size: 14px; font-style: normal;}
input[type="checkbox"] + label span {display:inline-block; width:20px; height:20px; margin:-3px 8px 0 0; vertical-align:middle; background:url('../images/checkbox_off.png') right center no-repeat; cursor:pointer; background-size:20px;}
input[type="checkbox"]:checked + label span {background:url('../images/checkbox_on.png') right center no-repeat; background-size:20px;}
input[type='checkbox']:disabled + label span{display:inline-block; width:20px; height:20px; margin:-3px 8px 0 0; vertical-align:middle; background:url('../images/checkbox_disabled.png') right center no-repeat; cursor:pointer; background-size:20px;} 
input[type='checkbox']:disabled + label{color:#A0A0A0;}

.checkbox_box input[type="checkbox"] + label{display: block; border-radius:3px; padding:8px; box-sizing:border-box; text-align: center; color:#BFBFBF; border: 1px solid #444; margin-bottom: 0;}
.checkbox_box input[type="checkbox"]:checked + label{background: #164740; color:#BFBFBF; border: 1px solid #20BFA9;}

/* 투표 css */
input.type_circle[type="checkbox"] {display:none;}
input.type_circle[type="checkbox"] + label {display:inline-block; color: #E2E2E2; font-size: 14px; font-style: normal;}
input.type_circle[type="checkbox"] + label span {display:inline-block; width:20px; height:20px; margin:-3px 8px 0 0; vertical-align:middle; background:url('../images/check_round_off.png') right center no-repeat; cursor:pointer; background-size:20px;}
input.type_circle[type="checkbox"]:checked + label span {background:url('../images/check_round_on.png') right center no-repeat; background-size:20px;}

input[type="radio"] {display:none;}
input[type="radio"] + label {display:inline-block; font-size:14px; color: #333; font-style: normal;}
input[type="radio"] + label span {display:inline-block; width:20px; height:20px; margin:-3px 6px 0 0; vertical-align:middle; background:url('../images/radio_off.png') right center no-repeat; cursor:pointer; background-size:20px;}
input[type="radio"]:checked + label span {background:url('../images/radio_on.png') right center no-repeat; background-size:20px;}

input[type="radio"] {display:none;}
input[type="radio"]:disabled + label {display:inline-block; font-size:14px; color:#636363 !important; font-style: normal;}
input[type="radio"]:disabled + label span {display:inline-block; width:20px; height:20px; margin:-3px 6px 0 0; vertical-align:middle; background:url('../images/radio_disabled.png') right center no-repeat; cursor:pointer; background-size:20px;}

/* textarea 입력 custom => 수정예정 */
.textarea_wrap{position: relative;}
.textarea_wrap textarea{height: 240px; border-bottom: none;}
.textarea_wrap .placeholder{color:#636363; padding:20px; top:0px; left:0px; box-sizing:border-box; overflow:hidden; pointer-events:none; display: block; position: absolute; z-index:1; background: transparent;}

.input_ui li{margin-bottom:30px;}
.input_ui li label{margin-bottom: 10px; display: block; color:#A0A0A0;}
.input_ui li .region, .input_ui li .label_left{display: inline-block;}
.input_ui li .btn{float:right;}
.input_ui li .btn_ghost{float:right;line-height: 50px;color: #A0A0A0;}
.input_ui li .btn_ghost span{ border: 1px solid #444;padding: 6px 10px; border-radius: 4px;color: #A0A0A0;font-size: 12px;}
.input_ui li .btn_right{position: absolute; z-index: 2; right:0; top:14px;}
.input_address_wrap{position: relative;}
.input_address_wrap input{padding-right:80px; box-sizing: border-box;}
.essential{color:#20BFA9; margin-left: 5px;}

/* 테이블관련 */
th.th_top{vertical-align: top;}
th{font-weight: normal}
table{table-layout: fixed}
table.tbl_auto{table-layout: auto;}

/* 스위치 체크박스 */
.switch {position:relative; display:inline-block; width:40px; height:14px;}
.check_slider {position:absolute; cursor:pointer; top:0; left: 0; right: 0; bottom: 0; background:#444; -webkit-transition: .4s; transition: .4s; border-radius:24px;}
.check_slider:before {position: absolute; content: ""; height: 22px; width: 22px; left:0px; bottom:-4px; background: #666; -webkit-transition: .4s; transition: .4s; border-radius: 50%;}
input:checked + .check_slider {background-color:rgba(32,191,169,0.5);}
input:focus + .check_slider {box-shadow: 0 0 1px #757575;}
input:checked + .check_slider:before {-webkit-transform: translateX(18px); -ms-transform: translateX(18px); transform: translateX(18px); background:#20BFA9;}


/* 별점 */
.review_rating{width: 100%; height:44px; margin: 0 auto; }
.rating {display: inline-block;}
.rating > input {display: none; margin: 0 4px;}
.rating > label:before {display: inline-block; content: "\f005"; background: url('/images/star_off_46x42.png') 0 0 no-repeat; width:48px; height:44px; color:rgba(0,0,0,0); background-size: 48px;}
.rating > input[type="radio"] + label {color: #999; float: right; margin: 0 4px;}
.rating > input:checked ~ label{content: "\f005"; display: inline-block; background: url('/images/star_off_46x42_on.png'); width:48px; height:44px; padding: 0; background-size: 48px; z-index: 5;}
.rating > input:checked ~ label:before {background:none;}

/* 즐겨찾기 */
.wish_ico a{display:block; background:#fff url('/p_images/btn_wish_off.png') no-repeat; height:20px; width:22px; line-height:20px; float: right; background-size: 22px;}
.wish_ico a.active{background: url('/p_images/btn_wish_on.png') no-repeat; color:#fff; background-size: 22px;}

/* 대표 wrap */
.body{padding-top:50px; min-height: 100%; box-sizing: border-box;}
.inner_wrap{padding:0px 20px;}

/* 비밀번호찾기,아이디찾기 결과 */
.find_result{border:1px solid #444; border-radius: 5px; height:300px;margin: 0 auto; text-align:center;}
.find_result img{width: 35px;margin: 0 auto;display: block;padding-top: 70px;}
.find_result h2{color: #F5F5F5;}
.find_result .text{color: #E2E2E2; line-height: 160%;}

body, html , .wrap{height: 100%; height: -webkit-fill-available; height: fill-available;}
.vh_wrap{position: relative; min-height: 100vh; overflow: hidden}
.vh_wrap.body{min-height: 100vh;}
.vh_body{padding-bottom: 110px; padding-top: 50px;}
.vh_footer{position: absolute; z-index: 1; bottom:0; left: 20px;width: calc(100% - 40px);}

/* 이미지센터 */
.img_box{overflow: hidden; display: block;}
.img_box > img{object-fit: cover; width: 100%; height: 100%;}
.img_cnt_box{position:absolute;top: 65px;left: 65px; width: 24px;height: 24px;font-size:14px; background: #000000; opacity:50%; border-radius: 5px 0 5px 0; text-align: center;line-height: 24px;}

/* ------------------------------------------------------------------------------------------------------------- */
header{height:50px; box-sizing: border-box; position:fixed; top:0; left: 0; width:100%; background: #121212; z-index:20;}
header.transparent{background: transparent}
header.fixed.transparent{background:#121212;}
header .main_header{text-align: right; width:100%; padding:0 20px; top:50%; transform: translateY(-50%); position: absolute; box-sizing: border-box;}
header .btn_right{position: absolute; right:0px; top:50%; transform: translateY(-50%); padding: 13px;line-height: 0;}
header .btn_right img{margin-left: 10px;}
header .btn_left{position: absolute; left:15px; top:50%; transform: translateY(-50%); width: 24px; line-height: 0;}
header img{width:24px; vertical-align:middle;}
header h1{font-size:16px;font-family: 'font-b'; text-align: center; line-height:1; padding: 15px; color:#fff}
header .head_txt{color:#20BFA9;font-size:16px; position: absolute; z-index: 1; top:15px; right:20px;}
header .btn_scrap{display:inline-block; vertical-align: middle; background:url('/images/head_btn_bookmark_off.png') no-repeat; height:24px; width:24px; background-size:24px 24px;}
header .btn_scrap.on{background: url('/images/head_btn_bookmark_on.png') no-repeat; background-size: 24px 24px;}
header .header_search{width:calc(100% - 100px); margin: 0 auto; position: absolute; left:50px; border-bottom:none !important;}

footer{padding:50px 20px 30px 20px; box-sizing: border-box;}
footer .trigger{display: block;}
footer .footer_controller.active img{transform: rotate(180deg)}
footer .footer_info li{color:#636363; font-size: 12px; margin:8px 0;}
footer .footer_info li span{color:#A0A0A0; margin-left: 5px; font-size: 12px;}
footer .footer_menu li{border:1px solid #444; border-radius: 5px; text-align: center; margin: 5px 0;}
footer .footer_menu li a{display: block; padding:10px; color:#A0A0A0; font-size: 12px;}

/* member reg */
.login_wrap .logo{width: 135px;text-align: center; margin:100px auto 80px; display: block;}
.login_wrap{width:100%; padding: 0 50px; box-sizing: border-box; margin: 0 auto;}
.login_wrap .or{width: 146px; font-size: 12px;color:#A0A0A0;padding: 0 0px; position:relative; margin:109px auto 30px;box-sizing: border-box; text-align: center;}
.login_wrap .or::after{content: '';display: block;position: absolute;z-index: 1;top:5px;right:0px;width: 35px;height: 1px;background-color: #444444;}
.login_wrap .or::before{content: '';display: block;position: absolute;z-index: 1;top:5px;left:0px;width: 35px;height: 1px;background-color: #444444;}
.login_wrap .join{width: 100%;font-size: 12px;color:#A0A0A0;position:relative;margin:80px auto;box-sizing: border-box;text-align: center;}
.login_wrap .join a{color:#20BFA9;}

.login_find_ul{text-align: right; font-size: 12px; overflow: hidden; margin-top: 15px;}
.login_find_ul span{margin: 0 4px;}

.sns_ul{width:100%;overflow: hidden;margin:20px auto; text-align: center;}
.sns_ul img{width:50px; margin: 0 12px;}
.sns_ul>li{width: 50px;margin-right: 12px;float: left;}
.sns_ul>li:last-child{margin-right: 0;}
.sns_ul>li img{width: 100%;}
.sns_ul>li img{width: 100%;}
input.input_dark {background:#232527; color: #fff; height:50px; line-height: 50px; text-align: center; border-bottom:none !important; border-radius:5px ; color:#F5F5F5 ;}

.area_title li:first-child{width:40%; border-right: 1px solid #444; }
.area_title li{width:60%; float: left; text-align: center; height: 50px; background: #232527; line-height: 50px; font-size:16px; font-family: 'font-b'; border-bottom:1px solid #444; box-sizing: border-box;}
.region_ui{width:100%; height:calc(var(100vh) - 150px); isolation: isolate; overflow: hidden; text-align: center; box-sizing: border-box; -webkit-fill-available; height: fill-available;}
/* .region_ui{width:100%; height:calc(100vh - 150px); isolation: isolate; overflow: hidden; text-align: center; box-sizing: border-box; -webkit-fill-available; height: fill-available;} */
.region_ui .area_item_1{width:40%; float: left; height: 100vh; overflow-y:auto; border-right: 1px solid #444; box-sizing: border-box;}
.region_ui .area_item_2{width:60%; float: right; height: 100vh; overflow-y:auto;}
.region_ui li{width: 50;height:50px; line-height: 50px;display:block;}
.region_ui li.active{color: #20BFA9;}
.region_input{cursor: default;}

.step_ui{float: right;}
.step_ui span{display: inline-block; width:10px; height: 10px; background: #444444; border-radius:30px; vertical-align: middle; margin: 0 3px;}
.step_ui .before{display: inline-block; width:10px; height: 10px; background: #164740; border-radius:30px; vertical-align: middle; margin: 0 3px;}
.step_ui .active{border:1px solid #20BFA9; width:20px; height: 20px; text-align: center; line-height: 20px; color:#20BFA9; background: none; font-size: 12px;}


/* madal 창 */
.modal_slide{padding: 40px 30px; box-sizing: border-box; z-index:100; width:100%; position:fixed; left:0; bottom:0; background:#232527;}
.md_slide_overlay{position:fixed; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,.8); opacity: 0; visibility: hidden; z-index:95;} 
.modal_slide_find_result img{width: 32px;margin-bottom: 12px;}
.modal_slide_find_result p{color:#494949;margin-top: 20px;}
.modal_slide .modal_title{font-size:14px; font-family:'font-b';}
.modal_slide .modal_txt{font-size: 12px; color:#A0A0A0; margin-top: 15px;}
.modal_slide_report{padding: 40px 30px 20px 30px;}
.modal_slide_amount{padding:30px 20px !important;}
.btn_report{text-align: right; margin:15px -15px 0 -15px;}
.btn_report span{padding: 15px; display: inline-block;}

.slide_modal_menu{margin: -20px 0; background: #232527;}
.slide_modal_menu li{font-size: 16px;}
.slide_modal_menu li a{display: block;width: 100%; padding:15px 0; font-size: 16px;}

.scroll_wrap{height:calc(100vh - 300px); overflow-y:auto;}
.modal_inner_wrap{padding: 0 30px;}

/* modal 공통 레이아웃 */
.modal{background: #121212; overflow: auto; position: fixed; width:calc(100% - 100px); height:auto; z-index: 1000; top:50%; left: 50%; transform: translate(-50%, -50%); display: none; }
.modal .title{text-align: center;margin-bottom: 30px;}
.modal .sub_title{margin-top: 16px;margin-bottom: 30px;text-align: center;line-height: 1.6;}
.modal select{height: 40px;}
.modal textarea{height: 140px;}
.modal .md_container{position: relative; padding: 30px 20px; box-sizing: border-box;}
.md_overlay{position: fixed; width: 100%; height: 100%; top:0; left:0; background: rgba(0,0,0,.5); opacity: 0; visibility: hidden; z-index: 200}
.modal_full{width:100%; height:100%;}
.modal_full #edit{padding:0 20px;box-sizing: border-box; line-height:2.0;}

.btn_md_wrap{ margin-top: 30px; display: flex;}
a.btn_md_right{float: right; display:inline-block; flex:1; text-align:center;}
a.btn_md_left{float: left; margin-right: 5px; display:inline-block; flex:100px 0 0; text-align:center;}

/* no_search_data */
.no_data{padding:150px 0; box-sizing: border-box;}
.no_data img{display: block; margin: 0 auto; margin-bottom:30px; width:80px;}
.no_data p{text-align: center; font-size: 14px; color:#BFBFBF; line-height: 1.6; }
.no_data p .message_box{background: #232527; border-radius: 5px; padding: 16px 20px; display: inline-block; color:#A0A0A0;}
.login_info_box{background: #FBFBFB; padding: 60px 0; text-align: center; color:#BFBFBF;}
.login_info_box p{margin-bottom: 20px;}

/* 박스 */
.box_gray{background: #F6F6F6; border-radius: 5px; font-size: 12px; color: #999; padding: 20px;}
.box_gray_line{background: #fff; border-radius: 5px; border:1px solid #CDCDCD; padding:10px 20px;}
.box_point_line{background:#FFF9F9; border: 1px solid #F68582; border-radius: 5px; padding: 20px;}
.box_point{background:#F57A77; border: none; padding: 10px 20px 10px 20px; color: #ffffff;}

/* x scroll wrap */
.x_scroll_img_reg{position: relative;}
.x_scroll_img_reg .img_reg_ul>li .cnt_num{position:absolute; z-index: 1; position:absolute; top:70%; transform:translateY(-50%); left:0; font-size:12px; color:#A0A0A0; width:100%; text-align: center;}
.x_scroll_img_reg .cnt_num span{color:#20BFA9; font-size: 12px;}
.x_scroll_img_reg .img_box{width:94px;height:94px;border-radius:5px;overflow: hidden;}
.x_scroll_img_reg .img_reg_ul>li{position: relative; display:inline-block; margin-right:10px;}
.x_scroll_img_reg .img_reg_ul>li:last-child{margin-right: 0;}
.x_scroll_img_reg .img_reg_ul{padding: 0;box-sizing: border-box; overflow-y: hidden; overflow-x: auto; width: auto; word-break: break-all; white-space: nowrap}
.x_scroll_img_reg .img_reg_ul>li img.btn_delete{position: absolute;z-index: 1; top:4px; right:4px; width:20px;}

.x_scroll_img_view{position: relative; height:70px;}
.x_scroll_img_view .img_box{width:70px; height:70px;border-radius: 6px;overflow: hidden;}
.x_scroll_img_view .img_reg_ul>li{position: relative;display: inline-block; margin:0 8px 0 0; padding: 0;}
.x_scroll_img_view .img_reg_ul>li:last-child{margin-right: 0;}
.x_scroll_img_view .img_reg_ul{padding: 0;box-sizing: border-box; overflow-y: hidden; overflow-x: auto; width: auto; word-break: break-all; white-space: nowrap}

/* 회원가입 동의 리스트 */
.all_checkbox li{height: 35px; line-height: 35px}
.all_checkbox li > span a{color:#CDCDCD;float: right; box-sizing: border-box;}
.all_checkbox li input[type="checkbox"] + label{color:#E2E2E2}
.all_checkbox li:first-of-type input[type="checkbox"] + label{color:#F5F5F5;font-family: 'font-b';font-size: 14px;}
.all_checkbox .look{float:right;color:#A0A0A0;}

.single_chk li{height: 35px;}
.single_chk li > span a{color:#CDCDCD;float: right; box-sizing: border-box;}
.single_chk li input[type="checkbox"] + label{color:#333} 

/* flex style */
.flex_between{display: flex;justify-content: space-between; align-items: center;}
.flex_1, .flex_2, .flex_3, .flex_4, .flex_5, .flex_term{display: flex;}
.flex_1 input{flex:1;}
.flex_1 a{border-radius:5px; background: #fff;border: 1px solid #F57A77; margin-left: 5px; color:#F57A77; line-height:48px; flex: 0 0 90px; text-align: center; vertical-align: middle;}
.flex_1 span{line-height: 50px; padding: 0 7px;}
.flex_1 select{flex: 0 0 120px;}
.flex_2 > *{flex:1;} 
.flex_2 > :last-child{margin-left: 15px;}
.flex_3 input{flex:1;height: 36px;border: 1px solid #DDDDDD; border-radius: 5px; box-shadow: none}
.flex_3 div{width: 35px;margin: auto; flex:0 0 35px;padding-left: 5px;box-sizing: border-box;}
.flex_4 span{flex:0 0 30px; width: 30px; padding-left: 16px;box-sizing: border-box;margin: auto}
.flex_4 input{flex:1}
.flex_5 select:last-child{margin-left:5px; width: 100px;}
.flex_term span{line-height: 50px; margin: 0 5px;}
.w_half{width:calc(50% - 8px); display: inline-block;}
.input_right_txt{position: absolute; right:0; top:16px; color:#A0A0A0}

/* complete 공통 */
.complete_wrap{margin:0 auto;text-align: center;}
.complete_wrap img{max-width:100px;width:100%; margin:130px auto 50px; }
.complete_wrap .title{font-weight:600; font-size: 24px;}
.complete_wrap p{font-size: 14px;line-height:18px; margin: 20px 0 20px 0;}

.notice_ul > li{padding: 16px 20px;box-sizing: border-box;border-bottom: 1px solid #444;}
.notice_ul > li a{font-size: 14px;display: block; color: #E2E2E2;}
.notice_title{font-size: 16px;padding: 20px;font-family: 'font-b';border-bottom: 1px solid #444;}
.notice_date{font-size: 12px;color:#999;margin-bottom: 16px;margin-left: 20px;}
/* .notice_date + .img_block{margin: 30px 20px 0;border-radius: 10px;width:calc(100% - 40px)} */
.notice_body {width:100%;}
.notice_body .img_block{width: 335px; margin: 0 auto;display: block; border-radius: 5px;}
.notice_content{padding: 20px;color:#666;box-sizing: border-box;font-size: 14px;line-height: 24px}
.faq_list li{position: relative;}
.faq_list li .trigger{min-height:58px; padding:20px; box-sizing: border-box; background-size:18px; font-family:'font-b'; border-bottom: 1px solid #444;}
.faq_list li .trigger.active{background-size: 18px}
.faq_list li .question{vertical-align: middle; margin-top: -4px;width: 15px; margin-right:8px;}
.faq_list li .arrow.rotate{transform: rotate(180deg);}
.faq_list li .arrow{width: 10px;position: absolute; top:25px; right:20px;}
.faq_list li .answer_wrap{line-height: 24px;display: none;background:#232527 url('/images/A.png') no-repeat 20px 20px; background-size: 10px;padding: 20px 20px;padding-left: 38px;   box-sizing: border-box;}
header .qa_title{color:#222;font-size:14px; position: absolute;z-index: 1;top:16px;right:20px;}
header .btn_txt{color:#F60032;font-size:16px; position: absolute; z-index: 1; top:15px; right:20px;}
.qa_ul > li{border-bottom: 1px solid #444; padding: 20px; box-sizing: border-box;height:73px;}
.qa_ul > li .title{font-size: 14px; color:#E2E2E2;}
.qa_ul > li .deactive{font-weight:600;margin-bottom: 10px;}
.qa_ul > li .active{font-weight:600;color:#60DDE1;margin-bottom: 10px;}
.qa_ul > li span{font-size: 14px; color:#999}
.qa_ul > li span.qa_date{font-size: 12px; color:#A0A0A0}
.qa_ul > li span.tag{font-family:'font-b'; margin-right: 5px; float: left;}
.qa_top_head{border-bottom: 1px solid #444; padding: 20px;font-size: 16px; background: #121212;}
.qa_top_head .title{color:#F5F5F5;}
.qa_top_head span.qa_date{font-size: 12px; color:#A0A0A0}
.qa_top_head span.tag{font-family:'font-b'; margin-right: 5px; float: left;}
.qa_top_con{padding:30px 20px 30px 20px; background: #121212;}
.qa_top_con .qa_con{border-bottom: 0px; color:#E2E2E2;}
.qa_bottom_txt .date{font-size: 12px;color:#999;margin-top: 20px;}
.qa_bottom_txt {padding: 30px 20px; background: #232527; margin-top: 10px; }
.qa_reg_page .qa_title{padding:0 20px;}
.qa_reg_page .qa_con{padding:0 20px; border-bottom: none; margin-top: 20px;height: 340px;}
.qa_mark_1{display: inline-block; width:68px; padding:4px 0; border-radius: 3px; border: 1px solid #F68582; background: #FFF9F9; color:#F68582; text-align: center; margin-bottom: 12px;}
.qa_mark_2{display: inline-block; width:68px; padding:4px 0; border-radius: 3px; border: 1px solid #CDCDCD; background: #F6F6F6; color:#999; text-align: center; margin-bottom: 12px;}

.member_out_ul>li{margin-bottom: 16px;line-height: 22px;}

.qa_kakao_i img{width: 87px;}
.qa_kakao_i{margin: 100px 0 20px;text-align: center}
.qa_kakao_i p{font-size: 16px;margin-top: 50px;color:#999}
.btn_kakao a{background: #FAE100;color:#381E1E;font-size: 14px;}
.btn_kakao img{width: 21px;margin-right: 7px;vertical-align: middle;}

:root{--swiper-navigation-size:12px!important}

.txt_height_1{line-height: 1.6;}
.txt_height_2{line-height: 1.4;}
.txt_height_3{line-height: 2.0;}

.complete_wrap{text-align: center;}
.complete_wrap img{width:70px;}

/* gride */
.gride_2 li{width: 50%; float: left;}
.gride_4{margin: 0 -3px;}
.gride_4 li{width:calc(25% - 6px); margin:4px 3px; float: left;}


