/* 커뮤니티 */
.community_head {background:#232527;padding: 30px 20px;height:190px;box-sizing: border-box;}
.community_head img {width: 40px;}
.community_head .title {font-size: 20px;font-weight:600;margin-top:20px;color:#F5F5F5;}
.community_head .sub_txt {font-size: 14px;margin-top:10px;white-space: normal;overflow: hidden;text-overflow: ellipsis; word-break: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 1.4; color: #E2E2E2;}

/* 마이페이지 */
.mypage_head{padding: 40px 0 0 20px;line-height: 30px;font-size: 22px;}
.mypage_head a{font-size: 22px;font-weight:600;color: #20BFA9;display: inline-block; border-bottom: 2px solid #20BFA9;}
.mypage_head .mypage_nickname{font-size: 22px;font-weight:600;color: #20BFA9;display: inline-block;}
.mypage_ul{padding: 0 20px;}
.mypage_title{font-size: 12px;font-weight:600; padding: 45px 20px 10px 20px;}
.mypage_ul li{font-size: 16px; line-height: 55px;}

.mypage_profile{padding: 0 20px;margin-top: 30px;}
.mypage_profile li{font-size: 16px; line-height: 50px;}
.mypage_profile a{font-size: 12px; color: #A0A0A0;}

/* 직종인증 */
.work_body{font-size: 14px;}
.work_body img{ width:100%; border-radius: 5px;}
.work_body tr{ height:45px; vertical-align: top;}
.work_body th{ color:#A0A0A0;}
.work_body td{ color:#E2E2E2}

/* 검색어 */
.search_txt{border-bottom: none;display: inline; width: calc(100% - 90px); font-size: 16px;}
.search_head{padding: 30px 20px 0 20px; font-size:14px;}
.data_box{padding: 20px 20px 0 20px; font-size:16px; color:#F5F5F5;}
.data_box li{margin-bottom: 15px;}
.data_box img{vertical-align: middle; width: 16px; float: right;}
.no_data_box{background: #232527; padding:15px 25px; line-height: 20px; font-size: 14px; border-radius: 5px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; color: #A0A0A0;}
.search_gnb_wrap{border-bottom: 1px solid #444; padding: 0 20px; box-sizing: border-box; overflow-y: hidden; overflow-x: auto; width: auto; word-break: break-all;  white-space: nowrap; margin-top: 50px;}
.search_gnb_wrap li{width:120px; text-align: center; display:inline-block; color:#A0A0A0; font-size: 16px; line-height: 50px;}
.search_gnb_wrap li span{color:#636363; font-size: 12px;}
.search_gnb_wrap li.active{color:#fff;border-bottom: 2px solid #FAFAFA;}

.search_cate{padding: 15px 20px;}
.search_cnt{padding: 0 20px;color: #A0A0A0; font-size: 14px;}
.search_cnt span{padding-left: 20px; background: url('/images/ic_check_off.png') no-repeat left center; background-size: 16px; color: #A0A0A0; font-size: 14px;}
.search_cnt span.on{padding-left: 20px;background: url('/images/ic_check_on.png') no-repeat left center; color:#20BFA9; background-size: 16px;}
.search_cnt img{vertical-align: middle;}
.search_cate li{ font-size: 12px; width: 85px; line-height: 30px; display: inline-block; margin-right: 10px; border: 1px solid #444; background: #232527; color:#A0A0A0; border-radius: 3px;text-align: center;}

/* 중고거래 */
.trade_list{overflow: hidden;}
.trade_list li{border-bottom: 1px solid #444; overflow: hidden; padding: 20px; box-sizing: border-box;}
.trade_list .txt_nickname{ font-size: 12px; color:#A0A0A0; font-family: 'font-b'; margin-top: 3px;}
.trade_list .txt_nickname .list_date{font-size: 12px; color:#A0A0A0;}
.trade_list_body{overflow: hidden; margin-top: 16px;}
.trade_list_body .trade_list_item{overflow: hidden; box-sizing: border-box;}
.trade_list_body .trade_list_item .trade_list_price{font-size: 16px; color:#fff; font-family: 'font-b'; margin-top: 15px;}
.trade_list_body .trade_list_item .trade_state{font-size: 10px; padding:5px 10px; border-radius: 3px; background: #164740; float: right;}
.trade_list_body .trade_list_item .trade_state_end{font-size: 10px; padding:5px 10px; border-radius: 3px; background: #444; float: right;}
.trade_list_body .trade_list_item .trade_list_con{color: #A0A0A0; white-space: normal; overflow: hidden; text-overflow: ellipsis; word-break: break-word; display: -webkit-box; -webkit-line-clamp:2; -webkit-box-orient: vertical; line-height: 1.2;}
.trade_list_body .thum_img{float: left; width:94px; height: 94px; margin-right: 20px; }
.trade_list_body .thum_img .img_box{width:94px; height: 94px; border-radius: 5px;}
.trade_action_area span{color:#636363; margin-right: 20px; font-size: 12px;}
.trade_action_area img{width:16px; margin-right: 4px; vertical-align: middle;}
.trade_detail_head .head_img{width: 100%;}
.trade_detail_head {border-bottom: 1px solid #444;}
.trade_detail_head .detail_info{padding: 20px; line-height: 1.4;}
.trade_detail_head .trade_info{font-size: 14px;}
.trade_detail_head .trade_info tr{height: 22px;}
.trade_detail_head .trade_info th{color: #A0A0A0;}
.trade_detail_head .trade_info td{color: #E2E2E2;}
.trade_detail_head .trade_state{font-size: 10px; padding:5px 10px; border-radius: 3px; background: #164740; display: inline;}
.trade_detail_head .trade_state_end{font-size: 10px; padding:5px 10px; border-radius: 3px; background: #444; display: inline;}
.trade_detail_head .trade_title{margin-top: 20px;color: #F5F5F5; font-size: 18px;font-family: 'font-b';}
.trade_detail_head .txt_nickname{ font-size: 12px; color:#A0A0A0; font-family: 'font-b'; margin-top: 3px;}
.trade_detail_head .txt_nickname .detail_date{font-size: 12px; color:#A0A0A0;}
.trade_detail_head .trade_price{font-size: 20px; color:#F5F5F5; font-family: 'font-b'; margin-top: 30px;}
.trade_detail_body{padding: 20px; line-height: 1.4;}

/* 공동구매 */
.product_list{overflow: hidden;}
.product_list li{margin-top: 30px;}
.product_list li .img_box{width:100%; height: 0; padding-bottom: 48%; overflow: hidden;}
.product_list li .img_box img{position: absolute; top: 0;left: 0; width: 100%; height: 100%; object-fit: cover;}
.product_list li .img_box .dday{background: #444; border-radius: 3px; color:#E2E2E2; font-size: 12px; padding: 0 13px; z-index: 10; position: absolute; top: 20px; left: 20px; line-height: 25px;}
.product_list li .img_box .scrap{position: absolute; top: 20px; right: 20px; background: url('/images/head_btn_bookmark_off.png') no-repeat left center; background-size: 24px;width: 24px; height: 24px;z-index: 10;}
.product_list li .img_box .scrap.on{position: absolute; top: 20px; right: 20px; background: url('/images/head_btn_bookmark_on.png') no-repeat left center; background-size: 24px;width: 24px; height: 24px;z-index: 10;}
.product_list_body{padding:20px 20px;}
.product_list_body .product_list_title{font-size: 16px; color:#F5F5F5;}
.product_list_body .product_list_item{font-size: 14px; color:#A0A0A0; margin-top: 5px;}
.product_list_body .product_list_item .product_list_price{ color:#F5F5F5; font-family: 'font-b';display: inline-block;width: calc(100% - 70px);}

/* 탈퇴 */

.member_out_body{ padding-top: 50px; min-height: 100%;}
.member_out_page h2{font-size: 16px; font-family:'font-b'; color: #E2E2E2;}
.member_out_page .circle_ul li{background: url('/images/ic_check_on.png') no-repeat left top; background-size: 16px; padding-left: 20px; font-size: 14px; margin-bottom: 15px; color: #E2E2E2;}
.member_out_page .member_out_q{margin-top: 50px;font-size: 14px; color: #A0A0A0;}
.member_out_page .place_wrap{margin-bottom: 30px;}
.member_out_page .btn_space{margin: 30px 0 30px 0;}