
/* 로그인 아이콘 */
.login_input_id{background: url('/images/ic_login_id.png') 0 12px no-repeat; background-size:24px; padding: 0 0 0 37px;}
.login_input_pw{background: url('/images/ic_login_lock.png') 0 12px no-repeat; background-size:24px; padding: 0 0 0 37px;}