
/* 로그인 아이콘 */
.login_input_id{background: url('/images/ic_login_id.png') 0 12px no-repeat; background-size:24px; text-indent: 37px;}
.login_input_pw{background: url('/images/ic_login_lock.png') 0 12px no-repeat; background-size:24px; text-indent: 37px;}
.find_form .subtext{font-size:14px; color:#A0A0A0; line-height: 20px;font-size:12px; display: inline-block;}

/* main */
.gnb_wrap{-ms-overflow-style:none; /* IE and Edge */ scrollbar-width:none; padding:15px 20px; box-sizing:border-box; overflow-y:hidden; overflow-x:auto; width:auto; word-break: break-all; white-space: nowrap; margin-top:50px;}
.gnb_wrap li{display:inline-block; margin-right:20px; color:#A0A0A0;}
.gnb_wrap li.active{color:#fff;}.main_list_wrap{margin-top:20px;}
.main_list_head{padding:0 20px;}
.main_list_head img{width:24px; margin-right:10px; vertical-align:middle;}
.main_list li{border-bottom:1px solid #444; padding:20px; overflow: hidden;}
.main_list li .list_category{font-size:12px; color:#A0A0A0;}
.main_list li .list_category img{width:16px; vertical-align:middle; margin-right:4px;}
.main_list li .best_title img{width:16px; vertical-align:middle;}
.main_list li .best_title span{vertical-align:middle; color:#fff; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width:calc(100% - 50px); display: inline-block;}
.main_list li .best_title span.type_2{vertical-align:middle; color:#fff; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width:calc(100% - 80px); display: inline-block;}
.action_ui li{margin-right:20px; border:none; display: inline-block; font-size:12px; color:#636363; padding:0;}
.action_ui li img{width:16px; vertical-align:middle; margin-right:4px;}
.action_ui li:last-child{margin-right:0px;}
.reg_select li{border: 1px solid #444; border-radius: 5px; margin-bottom: 8px; position:relative;}
.reg_select li img{width:28px; margin-right:12px; vertical-align: middle;}
.reg_select li a{padding:20px; display: block; overflow: hidden;}
.reg_select li .dim{background:#232527; border-radius: 5px; position: absolute; left: 0; top:0; width:100%; height:100%; text-align: center; line-height:76px;}

/* mark */
.mark_hot{color:#E54524; font-family: 'font-b'; font-size: 16px; margin-bottom: 20px;}

/* community */
.community_head {background:#232527; padding: 30px 20px; box-sizing: border-box;}
.community_head img {width: 40px;}
.community_head .title {font-size: 20px;font-weight:600;margin-top:20px;color:#F5F5F5;}
.community_head .sub_txt {font-size: 14px; margin-top:10px; color: #E2E2E2;}
.community_list{overflow: hidden;}
.community_list li{border-bottom: 1px solid #444; overflow: hidden; padding: 20px; box-sizing: border-box;}
.community_list li.community_noti{padding:20px 20px; background:#232527; color: #A0A0A0;}
.community_list li.community_noti a{float: right; border-bottom: 1px solid #A0A0A0;}
.community_list_head{overflow: hidden;}
.community_list_head .list_cate_img{width:28px; margin-right:6px; float: left;}
.community_list_head .right_area{float: left; width:calc(100% - 34px);}
.community_list .txt_cate{font-size: 12px; color:#E2E2E2; font-family: 'font-b';}
.community_list .txt_nickname{ font-size: 12px; color:#A0A0A0; font-family: 'font-b';}
.community_list .txt_nickname .list_date{font-size: 12px; color:#A0A0A0;}
.community_list_body{overflow: hidden; margin-top: 16px;}
.community_list_body .community_list_item{overflow: hidden; box-sizing: border-box;}
.community_list_body .community_list_item .community_list_title{font-size: 16px; color:#fff; font-family: 'font-b'; overflow:hidden; text-overflow: ellipsis; white-space: nowrap}
.community_list_body .community_list_item .community_list_con{color: #A0A0A0; margin-top: 8px; white-space: normal; overflow: hidden; text-overflow: ellipsis; word-break: break-word; display: -webkit-box; -webkit-line-clamp:3; -webkit-box-orient: vertical; line-height: 1.4;}
.community_list_body .thum_img{float: right; width:88px; height: 88px; margin-left: 20px; }
.community_list_body .thum_img .img_box{width:88px; height: 88px; border-radius: 5px;}
.community_action_area span{color:#636363; margin-right: 20px; font-size: 12px;}
.community_action_area img{width:16px; margin-right: 4px; vertical-align: middle;}
.detail_category{vertical-align: middle; background: #444; border-radius:3px; padding:5px 8px 4px 8px; font-size: 12px; display: inline-block;}
.detail_category img{width:16px; margin-right:4px; vertical-align: middle;}
.community_detail_head{overflow: hidden; border-bottom: 1px solid #444; padding: 20px;}
.community_detail_head .detail_info{font-size: 12px; color:#A0A0A0;}
.community_detail_head .detail_title{font-size: 18px; color:#fff; font-family: 'font-b'; overflow: hidden; margin-top: 12px;}
.community_detail_head .detail_date{font-size:12px; color:#A0A0A0; float: right; margin-top:6px;}
.community_detail_body{padding: 20px; line-height: 1.4;}
.detail_action{border-top: 1px solid #444; border-bottom: 1px solid #444; overflow: hidden; margin-top:10px;}
.detail_action li{width:33.3%; float: left; font-size: 12px; height: 48px; line-height: 48px; text-align: center;}
.detail_action li img{width:24px; margin-right: 2px; vertical-align: middle;}
.detail_btn_like{display:inline-block; background:url('/images/ic_heart_white.png') 0 50% no-repeat;  background-size:24px 24px; padding-left: 26px;}
.detail_btn_like.on{background: url('/images/ic_heart_on.png') 0 50% no-repeat; background-size: 24px 24px; color:#20BFA9;}
.box_vote{border-radius: 5px; border: 1px solid #444; padding: 20px;}
.box_vote .vote_title{font-size: 16px;}
.box_vote .vote_sub_txt, .vote_sub_txt span{font-size:12px; color:#A0A0A0; margin-top:6px;}
.box_vote li{padding: 10px 0; display: block; overflow: hidden; box-sizing: border-box;}
.vote_result{overflow: hidden; margin-top: 15px;}
.vote_result p img{width:12px; margin-right: 5px;}
.progress_bg{position: relative; background: #232527; border-radius: 3px; height:20px; width:100%; margin-top:8px;}
.progress_bg .txt_1{font-size:10px; color:#F5F5F5; position: absolute; left:12px; top:4px; z-index: 2;}
.progress_bg .txt_2{font-size:10px; color:#A0A0A0; position: absolute; right:12px; top:4px; z-index: 2;}
.progress_bg .progress_bar{background: #636363; height:20px; border-radius: 3px;}
.progress_bg .progress_bar.check{background: #20BFA9;}

/* comment */
.cmt_wrap .btn_cmt_more{display: block; padding:10px;text-align: center;width: auto;background:url('/images/select_arrow.png') no-repeat center right;background-size: 12px;padding-right: 20px;box-sizing: border-box;margin: 0 auto 30px;}
.cmt_ul{padding-bottom:120px;}
.cmt_ul>li{padding-bottom:20px; border-bottom: 1px solid #444; padding: 20px;}
.cmt_item_1{font-size: 12px; color: #A0A0A0;}
.cmt_item_2{margin-top: 10px; line-height: 1.4;}
.cmt_action{margin-top:10px;}
.cmt_action span{width:55px; display: inline-block; font-size: 12px; color:#A0A0A0;}
.cmt_btn_like{display:inline-block; background:url('/images/ic_board_heart_off.png') 0 50% no-repeat;  background-size:16px 16px; padding-left:17px;}
.cmt_btn_like.on{background: url('/images/ic_board_heart_on.png') 0 50% no-repeat; background-size:16px 16px; color:#20BFA9;}
.cmt_ul>li.cmt_re{background: #232527; padding-left: 30px;}
.cmt_wrap .item_blind{color:#A0A0A0}
.cmt_wrap a.blind_clear{float: right; border-bottom: 1px solid #444; color:#A0A0A0}
.cmt_ul>li table{padding:20px;box-sizing:border-box; border-radius:15px;}
.cmt_wrap .cm_body{padding-bottom: 50px;overflow: hidden}
.cmt_wrap .reg_reply{font-size: 12px;color:#737373;margin-left: 14px;}
.cmt_wrap .name_active{color:#20BFA9; font-size: 12px;}
.cmt_wrap .name .blue{font-weight: 800;color:#4C35CA;margin-right: 4px;}
.cmt_wrap .name .pink{font-weight: 800;color:#FF8F9F;margin-right: 4px;}
.cmt_wrap p.p{line-height: 22px; margin-top: 5px;}
.cmt_wrap .img_box{display:inline-block;width: 36px;height: 36px;border-radius: 30px;float:left}
.cmt_wrap{margin-bottom: 60px;}
.tbl_reply{margin-left: 40px; width:calc(100% - 40px); margin-top: 20px;}
.tbl_reply td.re_date{padding-bottom:20px;}
.cmt_wrap .none_txt{display:inline-block;  width:calc(100% - 40px);overflow:hidden;margin: 20px;background: #F4F4F4;padding: 12px 15px;box-sizing: border-box;color:#999999;border-radius: 10px;}
.cmt_wrap .none_txt span{color:#999999;float:right}
.cmt_wrap .tbl_reply .none_txt{margin: 20px 0 0;width: 100%;}
.cmt_wrap .btn_writer{line-height: 36px;font-size: 12px;color:#12D817;margin-left: 4px;}
.cmt_reg{z-index: 10; width: 100%; position: fixed; background:#121212; bottom:0; height: 54px; box-sizing:border-box; padding: 6px 20px;}
.cmt_reg.on{width: 100%;position: fixed; bottom:0;left:0}
.cmt_reg .tag{display:none;width: 100%;min-height:40px;box-sizing: border-box;position:absolute;z-index: 1; top:-45px;left:0;padding: 13px 20px;background: #F2F2F2;color:#737373;}
.cmt_reg input{height:40px; border:0; text-indent:20px; border-radius:100px; padding-right:40px; box-sizing: border-box; background:#232527;}
.cmt_reg .btn_send{display:none;position: absolute;z-index: 1;width: 36px;top:9px;right:22px;}
#reply_back{display: none;width: 100%;height: 100%;position: fixed; z-index: 9;top:0;left:0;background: rgba(0,0,0,0.5);}

/* tab */
.tab_1{border-bottom: 1px solid #444; padding: 0 20px; box-sizing: border-box; overflow-y: hidden; overflow-x: auto; width: auto; word-break: break-all;  white-space: nowrap; margin-top: 50px;}
.tab_1 li{padding: 0 15px; text-align: center; display:inline-block; color:#A0A0A0; font-size: 16px; line-height: 50px;}
.tab_1 li span{color:#636363; font-size: 12px;}
.tab_1 li.active{color:#fff;border-bottom: 2px solid #FAFAFA;}

.community_category{padding: 15px 20px; overflow-y: hidden; overflow-x: auto; width: auto; word-break: break-all;  white-space: nowrap;}
.community_category li{font-size: 12px; display: inline-block; margin-right: 10px; border: 1px solid #444; background: #232527; color:#A0A0A0; border-radius: 3px; text-align: center; padding:7px 10px; box-sizing: border-box;}
.community_category li img{width:16px; margin-right: 5px; vertical-align: middle;}

/* reg */
.reg_view{padding-bottom:60px;}
.reg_view input{padding:0 20px; box-sizing: border-box;}
.reg_view textarea{padding:20px; box-sizing: border-box;}
.reg_view .input_wrap{border-bottom: 1px solid #444; padding:15px 20px; overflow: hidden;}
.reg_btn_bottom{position:fixed; z-index: 5; left: 0; bottom:0; width: 100%; padding:10px 10px; box-sizing: border-box; border-top: 1px solid #444; background: #121212;}
.reg_btn_bottom img{width:24px; margin: 0 10px;}
.reg_btn_bottom .btn_vote{width:24px; height: 24px; display: inline-block; overflow: hidden; margin-left: 10px;}
.reg_btn_bottom .btn_vote img{margin: 0;}
.reg_btn_bottom .btn_vote.active img{margin-top: -24px;}
.reg_img_list li{position: relative; padding: 0 20px;}
.reg_img_list li img{max-width: 100%; border-radius: 5px;}
.reg_img_list li .btn_delete{position:absolute; z-index: 2; width:20px; right:30px; top:10px;}
.reg_vote_list li{border: 1px solid #444; border-radius: 5px; margin-top: 10px; overflow: hidden; padding:14px 17px;}
.reg_vote_list li p{width:calc(100% - 30px); float: left;}
.reg_vote_list li .btn_vote_delete{width:20px; float: right;}
.reg_vote_list li.btn_add{border: none; padding: 0; margin-top:20px;}
.vote_area{display: none;}
.vote_area.active{display: block;}
.mod_type{background:#1E2021;}
.mod_type .reg_vote_list p{color:#A0A0A0; width:100%;}